body{
    margin: 0;
    padding: 0;
}
.container{
    padding:50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#shape{
    background-color: black;
    width: 120px;
    height: 50px;
}
.buttons{
    display:flex;
    gap: 10px;
}
.buttons button{
    width: 90px;
    height: 50px;
    border-radius: 10px;
}

